@{
    ViewBag.Title = "User Guide";
}
<div id="lead-text">
    <h1>User Guide</h1>
    <p>This page is still under construction.</p>
    <p>For now, please see the <a class="external" target="_blank" href="http://helpspot.business.uconn.edu/index.php?pg=kb">knowledge books</a> or @Html.ActionLink("contact", "Contact", "Home") us for further assistance.</p>
</div>

