@{
    ViewBag.Title = "Unauthorized!";
}

<div id="lead-text">
    <h1>No soup for you!</h1>
    <p>You do not have access to view that page.</p>
    <p>If you feel this is in error, please feel free to @Html.ActionLink("contact us", "Contact", "Home").</p>
</div>